@model MVC_Final.Models.Program

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgramName" class="control-label"></label>
                <input asp-for="ProgramName" class="form-control" />
                <span asp-validation-for="ProgramName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benfits" class="control-label"></label>
                <input asp-for="Benfits" class="form-control" />
                <span asp-validation-for="Benfits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charge" class="control-label"></label>
                <input asp-for="Charge" class="form-control" />
                <span asp-validation-for="Charge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
