@{
    ViewData["Title"] = "Logged Out";
}

<div class="container text-center">
    <h1>Thanks for your trust and using our services!</h1>
    <p>We appreciate your visit. Come back soon!</p>

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Home</a>
</div>