@model MVC_Final.Models.BillsCall

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BillsCall</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill.BillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Call)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Call.CallId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
