@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TELEprogams!</h1>
    <p>Stay updated <a href="https://github.com/spirosvl999">on our projects</a>.</p>
</div>
