@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>TELEprograms is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and protect your information when you use our site.</p>
<p><b>Information We Collect:</b><br />We collect the following types of information:<br /> Personal Information like Full Name, Phone Number and billing details.</p>
<p><b>How We Use Your Information?</b><br />We use your information to:<br />Create and manage your account.<br />Process payments and deliver the best programs for you.<br />Improve our Services.</p>
<p><b>Sharing Your Information.</b><br />Of course, we don't share any of your information...</p>
